@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== TITULOS */

.title-base {
    @apply font-black;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}
.title-2xl {
    @apply title-base text-4xl sm:text-5xl lg:text-6xl;
    line-height: 170%;
}
.title-xl {
    @apply title-base text-3xl sm:text-4xl lg:text-5xl;
    line-height: 170%;
}
.title-lg {
    @apply title-base text-2xl sm:text-3xl lg:text-4xl;
    line-height: 170%;
}
.title-md {
    @apply title-base text-xl sm:text-2xl lg:text-3xl;
    line-height: 170%;
}
.title-sm {
    @apply title-base text-lg sm:text-xl lg:text-2xl;
    line-height: 170%;
}



/* ===== LINK */

.link {
    @apply font-semibold text-ftem_b2;
}
.link:disabled {
    @apply font-semibold text-gray-400;
}
.link:not(:disabled) {
    @apply cursor-pointer;
    @apply transition ease-linear hover:text-ftem_b1;
}
.link i {
    @apply mx-3;
}



/* ===== BOTOES */

.btn-base {
    @apply font-bold uppercase rounded-sm inline-block;
    @apply transition ease-linear;
}

/* ----- cores */
.btn-white {
    @apply text-ftem_b2 bg-white shadow-white;
    @apply hover:text-ftem_bl1 hover:shadow-ftem_bl1;
}
.btn-blue {
    @apply text-white bg-ftem_b2 shadow-ftem_b2;
    @apply hover:bg-ftem_b1;
}
.btn-gray {
    @apply text-gray-500 bg-gray-300 shadow-white;
    @apply hover:text-gray-800 hover:bg-gray-100;
}

/* ----- tamanhos */
.btn-sm {
    @apply btn-base text-sm px-4 md:px-6 py-3;
}
.btn-md {
    @apply btn-base text-lg px-5 md:px-8 py-4;
}
.btn-lg {
    @apply btn-base text-xl px-6 md:px-10 py-5;
}

/* ----- só borda */
.btn-borda {
    @apply shadow-[inset_0_0_0_1px];
    background-color: transparent;
}

.btn-sm-white {
    @apply btn-base btn-sm btn-white;
}
.btn-md-white {
    @apply btn-base btn-md btn-white;
}
.btn-lg-white {
    @apply btn-base btn-lg btn-white;
}

.btn-sm-white-b {
    @apply btn-base btn-sm btn-white btn-borda;
    color: #fff;
}
.btn-md-white-b {
    @apply btn-base btn-md btn-white btn-borda;
    color: #fff;
}
.btn-lg-white-b {
    @apply btn-base btn-lg btn-white btn-borda;
    color: #fff;
}

.btn-sm-blue {
    @apply btn-base btn-sm btn-blue;
}
.btn-md-blue {
    @apply btn-base btn-md btn-blue;
}
.btn-lg-blue {
    @apply btn-base btn-lg btn-blue;
}
.btn-sm-gray {
    @apply btn-base btn-sm btn-gray;
}

.btn-sm-blue-b {
    @apply btn-base btn-sm btn-blue btn-borda hover:text-white hover:shadow-ftem_b1;
    color: #104F9E;
}
.btn-md-blue-b {
    @apply btn-base btn-md btn-blue btn-borda hover:text-white hover:shadow-ftem_b1;
    color: #104F9E;
}
.btn-lg-blue-b {
    @apply btn-base btn-lg btn-blue btn-borda hover:text-white hover:shadow-ftem_b1;
    color: #104F9E;
}



/* ===== FORMULARIO */

/* ----- container para os botões e alertas */
.action-box {
    @apply flex flex-wrap items-center gap-5 pt-5;
}
.action-box-r {
    @apply action-box justify-end;
}


/* ----- campo de busca */
.busca form {
    @apply bg-white p-0 pl-5 flex rounded-md shadow-sm;
}
.busca.lg form {
    @apply bg-white p-3 pl-5 flex rounded-md shadow-md;
}

.busca .input {
    @apply relative items-center w-[calc(100%-58px)] md:w-[calc(100%-145px)];
}

.busca input {
    @apply text-lg text-ftem_b2 bg-transparent w-full outline-none py-4 px-9 pl-0 md:pl-9 relative left-0 top-0 z-10;
}
.busca input:focus + i {
    @apply text-ftem_b2;
}

.busca .input i {
    @apply text-xl text-gray-500 absolute left-0 py-4 hidden md:inline;
}

.busca .btn-md-blue span {
    @apply hidden md:block;
}

.busca .btn-md-blue i {
    @apply block md:hidden;
}



/* ===== FORMULARIO */

.form label {
    @apply font-semibold block mb-2;
}

.form input:not([type="checkbox"]),
.form textarea {
    @apply border-2 border-gray-400 rounded-md w-full py-2 px-4 outline-none bg-transparent;
    @apply transition ease-linear hover:border-ftem_b2 focus:border-ftem_b1;
}
.form textarea {
    @apply w-full h-28 max-h-52 overflow-y-auto overflow-x-hidden;
}
.form input[type="file"] {
    @apply bg-gray-300;
}

.form .action-box {
    @apply flex justify-end;
}

.form form > fieldset {
    @apply mb-5 relative;
}
.form fieldset {
    @apply mb-5 relative;
}

.form-colum {
    @apply grid grid-cols-1 md:grid-cols-2 gap-5 mb-5;
}

/* ----- botao mostrar senha
.form .input-show-pass {
    @apply absolute z-10 right-0 bottom-0 text-lg text-gray-400 p-2 cursor-pointer;
    @apply transition ease-linear hover:text-ftem_b2;
}
.form .input-show-pass .to-hide {
    @apply hidden;
}
*/



/* ===== CONTEUDO */

.content {
    @apply max-w-screen-xl mx-auto;
}



/* ===== CAPA DAS PAGINAS */

.page-cover {
    @apply bg-[#C0F0F9] bg-no-repeat bg-right-top;
}
.page-cover .content {
    @apply flex items-center min-h-[360px];
}
.page-cover h2 {
    @apply text-ftem_d3;
}

/* ----- capa grande */
.cover-xl {
    @apply bg-gradient-lite-blue;
}
.cover-xl > div {
    @apply px-3 pt-28 pb-10;
    background-image: url(./../../assets/imgs/footer-logo-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -80px;
}



/* MENU DAS REDE SOCIAIS */
/* ----- a cor é definida na TAG */
.social-menu {
    @apply pt-10 flex justify-center md:justify-normal;
}
.social-lista {
    @apply flex;
}
.social-lista a {
    @apply text-2xl ml-5 transition ease-linear;
}



/* ===== TAB */
/* ----- menu tab */
.tab-menu {
    @apply border-b px-5 flex flex-wrap gap-10;
}
.tab-menu li {
    @apply text-sm text-gray-400 uppercase font-semibold cursor-pointer py-6;
    @apply transition ease-linear hover:text-gray-500
}
.tab-menu li.active {
    @apply text-ftem_b2 border-b-2 border-ftem_b2;
}



/* ===== MODAL */

.modal-stage {
    @apply fixed z-50 left-0 top-0 w-full h-full bg-[rgba(0,0,0,0.5)] flex items-center p-5 justify-center;
}

.modal {
    @apply flex flex-wrap overflow-hidden rounded-lg shadow-lg;
}

.modal .side-a {
    @apply w-full sm:w-col-5 p-8 bg-ftem_b2;
}
.modal .side-b {
    @apply w-full sm:w-col-7 p-8 bg-white;
}

/* ----- login redes sociais */
.login-by {
    @apply pb-14;
}
.login-by li {
    @apply mb-2;
}
.login-by a {
    @apply text-white text-center block p-2 rounded-md relative;
}
.login-by a i {
    @apply absolute left-3 top-1 text-2xl;
}

.login-by .linkedin {
    @apply bg-blue-400;
}
.login-by .google {
    @apply bg-red-600;
}
.login-by .facebook {
    @apply bg-blue-700;
}

.modal .action-box {
    @apply w-full flex flex-wrap gap-5 justify-end;
}

/* ----- modal para notificação */
.modal-content {
    @apply bg-white min-w-[600px];
}
.modal-content h2,
.modal-content .action-box {
    @apply p-5;
}
.modal-content h2 {
    @apply title-sm;
}

.modal-content .msg {
    @apply bg-gray-300 text-base text-ftem_b2 font-semibold px-5 py-2 flex flex-wrap justify-between;
}






































/* ===== HEADER PRINCIPAL */

.main-header-clean {
    @apply fixed left-0 top-0 z-20 w-full transition ease-linear;
}
.main-header {
    @apply main-header-clean;
}
/* ----- quando rolar a pagina o fundo fica branco e a sombra aparece */
.scrolled {
    @apply shadow-md bg-white;
}

.header-content {
    @apply max-w-screen-xl mx-auto flex flex-wrap items-center justify-between relative;
}

/* ----- logo do cabeço
.header-logo {} */

/* ----- menu sandwich icone */
.header-ico-mob {
    @apply text-3xl text-ftem_b2;
}
.header-ico-mob .open {
    @apply hidden;
}

.menu-item-text {
    @apply text-[13px] font-semibold uppercase
}
.menu-item {
    @apply text-ftem_d3 inline-block px-2 md:px-5;
}
.menu-item span {
    @apply menu-item-text inline-block relative;
    @apply transition ease-linear hover:text-ftem_b2;
}

.menu-item.active span {
    @apply text-ftem_b2;
}

.menu-btn {
    @apply menu-item-text text-white bg-ftem_b2 px-3 lg:px-5 py-4 rounded-sm;
    @apply transition ease-linear hover:bg-ftem_b1;
}


/* ---------- estilo / MOBILE */
.main-header-clean.mobile  {
    @apply px-0;
}

.mobile .header-logo {
    @apply ml-3;
}

.mobile .header-ico-mob {
    @apply mr-3;
}

.mobile .header-side {
    @apply absolute w-full right-0 top-20 bg-white shadow-lg;
}

.mobile .header-main-menu {
    @apply text-right;
}
.mobile .header-main-menu .menu-item {
    @apply block p-0;
}
.mobile .header-main-menu .menu-item span {
    @apply p-3 pr-6;
}

.mobile .header-user {
    @apply flex flex-wrap items-center justify-end gap-5 border-t p-5;
}

.mobile .menu-item.active span:before {
    @apply bg-ftem_b2 content-[''] absolute top-0 right-0 w-1 h-full;
}


/* ---------- estilo / DESKTOP */
.main-header-clean.desk  {
    @apply px-3;
}

/* ----- menu sandwich icone */
.desk .header-ico-mob {
    @apply hidden;
}

/* ----- menu de navegação */
.desk .header-side {
    @apply flex flex-wrap items-center;
}

.desk .menu-item.active span:before {
    @apply bg-ftem_b2 content-[''] absolute top-0 left-0 w-full h-1;
}

/* ----- somente para o menu principal */
.desk .header-main-menu {
    @apply flex flex-wrap;
}
.desk .header-main-menu .menu-item {
    @apply pb-3;
}
.desk .header-main-menu .menu-item span {
    @apply pt-8 pb-5;
}

/* ----- somente menu de user */
.desk .header-user {
    @apply flex flex-wrap items-center;
}































/* ===== FOOTER PRINCIPAL */

.main-footer {
    @apply px-3 bg-ftem_d3 bg-[url(./../../assets/imgs/footer-logo-bg.png)] bg-no-repeat bg-contain;
    background-position: right -80px;
}

.footer-content {
    @apply max-w-screen-xl py-28 mx-auto;
}

/* ----- barra de cadastro ou login */
.footer-user {
    @apply flex flex-wrap justify-center sm:justify-between items-center pb-20 mb-20 border-b-[1px] border-ftem_d2;
}
.footer-user-l {
    @apply text-center md:text-left w-full md:w-2/3 mb-10 md:mb-0;
}
.footer-user-r {
    @apply flex flex-wrap justify-center md:justify-end gap-5 w-full md:w-2/6;
}

.footer-nav {
    @apply flex flex-wrap gap-10 justify-center md:justify-normal;
}
.footer-nav-l {
    @apply w-full md:w-2/5 text-center md:text-left;
}
.footer-nav-r {
    @apply w-full md:w-auto text-center;
}

/* ----- logo branco roda pé */
.footer-logo {
    @apply text-center inline-block pb-10;
}

.footer-title {
    @apply text-lg text-center md:text-left font-bold text-white mb-3;
}

.footer-link {
    @apply text-lg text-center md:text-left font-bold text-ftem_bl2 hover:text-ftem_bl1 block transition ease-linear;
}

/* ----- menu de navegação */
.footer-menu {
    @apply flex flex-wrap justify-center gap-5;
}
.footer-menu a {
    @apply block text-center md:text-left text-lg text-white hover:text-ftem_bl1 w-auto md:w-full transition ease-linear;
}

/* ----- menu de midias sociais */
.main-footer .social-lista a {
    @apply text-white hover:text-ftem_bl1;
}



/* ----- nuvem de tags */

/* ----- palavras chave */
.tags-key {
    @apply flex flex-wrap gap-3 items-center;
}
.tags-key > * {
    @apply text-xs py-1 px-2 rounded-md;
}
.tags-key.gray > * {
    @apply text-gray-500 bg-gray-200;
}
.tags-key.blue > * {
    @apply text-ftem_b2 bg-cyan-50;
}

/* ----- dados para filtro */
.tag-info {
    @apply flex flex-wrap gap-3 items-center;
}
.tag-info > * {
    @apply text-xs text-gray-600 py-1 rounded-md;
}
.tag-info > * I {
    @apply mr-2;
}



/* ===== SERVIÇOS */

/* ----- base para item de grid e lista */
.servico-item {
    @apply bg-white rounded-md p-5 flex flex-wrap items-center shadow-md;
    @apply transition ease-linear hover:shadow-lg
}

.servico-item .img {
    @apply bg-ftem_b2 w-16 h-16 overflow-hidden rounded-md;
}
.servico-item.lg .img {
    @apply bg-ftem_b2 w-20 md:w-32 h-20 md:h-32 overflow-hidden rounded-md;
}

.servico-item .autor {
    @apply w-auto pl-3;
}
.servico-item .autor h3 {
    @apply text-xl font-semibold;
}
.servico-item .autor p {
    @apply text-base;
}

.servico-item.lg .autor {
    @apply w-auto pl-6;
}
.servico-item.lg .autor h3 {
    @apply text-2xl font-semibold;
}
.servico-item.lg .autor p {
    @apply text-xl;
}

.servico-item .info {
    @apply w-full mt-5 flex justify-between gap-4;
}

/* ----- descrição detalhada o serviço */
.servico-item .description {
    @apply pt-10;
}

.servico-item .description > h3 {
    @apply mb-6;
}
.servico-item .description > p {
    @apply text-base mb-4;
}
.servico-item .description > ul {
    @apply list-disc pl-5 -mt-3 mb-5;
}

.servico-item .description .img-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-5 my-10;
}
.servico-item .description .img-grid figure {
    @apply overflow-hidden rounded-md shadow-md;
}
.servico-item .description .img-grid figure img {
    @apply w-full;
}


/* ----- side-bar de filtros para serviços */

.filtro-lista {
    @apply mb-7;
}
.filtro-lista label {
    @apply block py-1;
}
.filtro-lista label span {
    @apply text-base;
}
.filtro-lista label input:checked + span {
    @apply font-semibold;
}




/* ===== BLOG */

/* ----- side-bar lista de posts recentes */
.blog-side-list {
    @apply mb-8;
}
.blog-side-list li {
    @apply mb-3
}
.blog-side-list a {
    @apply flex items-center rounded-md;
    @apply transition ease-linear hover:bg-white hover:shadow-sm;
}
.blog-side-list .img {
    @apply overflow-hidden rounded-md w-[70px] h-[70px] hidden lg:block;
}
.blog-side-list .img img {
    @apply w-full;
}
.blog-side-list .info {
    @apply text-sm w-full lg:w-[calc(100%-70px)] pl-0 lg:pl-3;
}


/* ----- post pagina blog */
.blog-post-item {
    @apply bg-white overflow-hidden rounded-md shadow-md mb-5;
    @apply transition ease-linear hover:shadow-lg;
}

.blog-post-item .img {
    @apply inline-block w-full mb-5;
}
.blog-post-item .img img {
    @apply w-full;
}

.blog-post-item .box {
    @apply p-8 pt-0;
}

.blog-post-item .info {
    @apply text-lg mb-8;
}
.blog-post-item .info p,
.blog-post-item .info ol,
.blog-post-item .info ul {
    @apply mb-5;
}
.blog-post-item .info ol {
    @apply list-decimal pl-5;
}
.blog-post-item .info ol li {
    @apply pl-3;
}

.blog-post-item .data {
    @apply w-full mt-12 flex justify-between items-center gap-4;
}


/* ----- lista de posts apois detalhe do post */
.blog-block {
    @apply flex flex-wrap justify-between;
}
.blog-block a {
    @apply bg-white overflow-hidden rounded-md w-full md:w-[32%] flex md:block items-center mb-5 md:mb-0;
    @apply transition ease-linear shadow-sm hover:shadow-md;
}
.blog-block a img {
    @apply w-full;
}
.blog-block a p {
    @apply text-xl md:text-base inline-block p-5;
}



/* ===== CONTATO */

.contato-box {
    @apply bg-white rounded-md shadow-md;
}
.contato-box .tab-content {
    @apply p-10;
}

.contato-box .tab-menu {
    @apply px-10;
}

.contato-box .social-lista {
    @apply p-5 justify-center border-b;
}

.contato-lista {
    @apply p-10 overflow-hidden;
}
.contato-lista li {
    @apply mb-10;
}
.contato-lista p {
    @apply text-lg text-gray-400 font-semibold mb-3;
}
.contato-lista a {
    @apply text-base text-ftem_g3 font-semibold block;
    @apply transition ease-linear hover:text-ftem_b2;
}
.contato-lista .tel a {
    @apply text-lg font-semibold;
}



/* ===== CONCIERGE */

.concierge-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-5;
}
.concierge-grid > div {
    @apply bg-ftem_bl2 min-h-80 p-8 md:p-14 rounded-md shadow-lg;
}
.concierge-grid h3 {
    @apply text-2xl text-white font-semibold mb-10;
}
.concierge-grid p {
    @apply text-lg text-white;
}


/* ----- slider de depoimentos */
.slide-dep-concierge-item {
    @apply flex gap-10 bg-[url(./../../assets/imgs/concierge-bg-aspas.png)] bg-no-repeat;
    background-position: 240px top;
}
.slide-dep-concierge-item .ing {
    @apply w-[220px];
}
.slide-dep-concierge-item figure {
    @apply overflow-hidden rounded-md shadow-md;
}
.slide-dep-concierge-item .info {
    @apply py-8 w-4/5;
}




/* ===== ADAPTAÇÕES MOBILE */
