@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Unbounded:wght@200..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}


/* ===== TITULOS */

.title-base {
    @apply font-black;
    font-family: "Montserrat", sans-serif;
}
.title-2xl {
    @apply title-base text-4xl sm:text-5xl lg:text-6xl;
    line-height: 170%;
}
.title-xl {
    @apply title-base text-3xl sm:text-4xl lg:text-5xl;
    line-height: 170%;
}
.title-lg {
    @apply title-base text-2xl sm:text-3xl lg:text-4xl;
    line-height: 170%;
}
.title-md {
    @apply title-base text-xl sm:text-2xl lg:text-3xl;
    line-height: 170%;
}
.title-sm {
    @apply title-base text-lg sm:text-xl lg:text-2xl;
    line-height: 170%;
}



/* ===== LINK */

.link {
    @apply font-semibold text-ftem_b2;
}
.link:disabled {
    @apply font-semibold text-gray-400;
}
.link:not(:disabled) {
    @apply cursor-pointer;
    @apply transition ease-linear hover:text-ftem_b1;
}
.link i {
    @apply mx-3;
}



/* ===== BOTOES */

.btn-base {
    @apply font-bold uppercase rounded-sm inline-block;
    @apply transition ease-linear;
}

/* ----- cores */
.btn-white {
    @apply text-ftem_b2 bg-white shadow-white;
    @apply hover:text-ftem_bl1 hover:shadow-ftem_bl1;
}
.btn-blue {
    @apply text-white bg-ftem_b2 shadow-ftem_b2;
    @apply hover:bg-ftem_b1;
}
.btn-gray {
    @apply text-gray-500 bg-gray-300 shadow-white;
    @apply hover:text-gray-800 hover:bg-gray-100;
}

/* ----- tamanhos */
.btn-sm {
    @apply btn-base text-sm px-4 md:px-6 py-3;
}
.btn-md {
    @apply btn-base text-lg px-5 md:px-8 py-4;
}
.btn-lg {
    @apply btn-base text-xl px-6 md:px-10 py-5;
}

/* ----- só borda */
.btn-borda {
    @apply shadow-[inset_0_0_0_1px];
    background-color: transparent;
}

.btn-sm-white {
    @apply btn-base btn-sm btn-white;
}
.btn-md-white {
    @apply btn-base btn-md btn-white;
}
.btn-lg-white {
    @apply btn-base btn-lg btn-white;
}

.btn-sm-white-b {
    @apply btn-base btn-sm btn-white btn-borda;
    color: #fff;
}
.btn-md-white-b {
    @apply btn-base btn-md btn-white btn-borda;
    color: #fff;
}
.btn-lg-white-b {
    @apply btn-base btn-lg btn-white btn-borda;
    color: #fff;
}

.btn-sm-blue {
    @apply btn-base btn-sm btn-blue;
}
.btn-md-blue {
    @apply btn-base btn-md btn-blue;
}
.btn-lg-blue {
    @apply btn-base btn-lg btn-blue;
}

.btn-sm-gray {
    @apply btn-base btn-sm btn-gray;
}
.btn-md-gray {
    @apply btn-base btn-md btn-gray;
}

.btn-sm-blue-b {
    @apply btn-base btn-sm btn-blue btn-borda hover:text-white hover:shadow-ftem_b1;
    color: #104F9E;
}
.btn-md-blue-b {
    @apply btn-base btn-md btn-blue btn-borda hover:text-white hover:shadow-ftem_b1;
    color: #104F9E;
}
.btn-lg-blue-b {
    @apply btn-base btn-lg btn-blue btn-borda hover:text-white hover:shadow-ftem_b1;
    color: #104F9E;
}



/* ===== FORMULARIO */

/* ----- container para os botões e alertas */
.action-box {
    @apply flex flex-wrap items-center gap-5 pt-5;
}
.action-box-r {
    @apply action-box justify-end;
}


/* ----- campo de busca */
.busca form {
    @apply bg-white p-0 pl-5 flex rounded-md shadow-sm;
}
.busca.lg form {
    @apply bg-white p-3 pl-5 flex rounded-md shadow-md;
}

.busca .input {
    @apply relative items-center w-[calc(100%-58px)] md:w-[calc(100%-145px)];
}

.busca input {
    @apply text-lg text-ftem_b2 bg-transparent w-full outline-none py-4 px-9 pl-0 md:pl-9 relative left-0 top-0 z-10;
}
.busca input:focus + i {
    @apply text-ftem_b2;
}

.busca .input i {
    @apply text-xl text-gray-500 absolute left-0 py-4 hidden md:inline;
}

.busca .btn-md-blue span {
    @apply hidden md:block;
}

.busca .btn-md-blue i {
    @apply block md:hidden;
}



/* ===== FORMULARIO */

.form label {
    @apply font-semibold block mb-2;
}

.form input:not([type="checkbox"]),
.form textarea {
    @apply border-2 border-gray-300 rounded-md w-full py-2 px-4 outline-none bg-transparent;
    @apply transition ease-linear hover:border-ftem_b2 focus:border-ftem_b1;
}
.form .error input:not([type="checkbox"]),
.form .error textarea {
    @apply border-red-500
}

.form textarea {
    @apply w-full h-28 max-h-52 overflow-y-auto overflow-x-hidden;
}
.form input[type="file"] {
    @apply bg-gray-100;
}

.form .action-box {
    @apply flex justify-end;
}

.form form > fieldset {
    @apply mb-5 relative;
}
.form fieldset {
    @apply mb-5 relative;
}


.form-colum {
    /* @apply grid grid-cols-1 md:grid-cols-2 gap-5 mb-5; */
    @apply grid grid-cols-1 md:grid-cols-2 gap-5;
}

/* ----- botao mostrar senha
.form .input-show-pass {
    @apply absolute z-10 right-0 bottom-0 text-lg text-gray-400 p-2 cursor-pointer;
    @apply transition ease-linear hover:text-ftem_b2;
}
.form .input-show-pass .to-hide {
    @apply hidden;
}
*/








/* ===== CONTEUDO */

.content {
    @apply max-w-screen-xl mx-auto;
}



/* ===== CAPA DAS PAGINAS */

.page-cover {
    @apply bg-[#C0F0F9] bg-no-repeat bg-right-top;
}
.page-cover .content {
    @apply flex items-center min-h-[360px];
}
.page-cover h2 {
    @apply text-ftem_d3;
}

/* ----- capa grande */
.cover-xl {
    @apply bg-gradient-lite-blue;
}
.cover-xl > div {
    @apply px-3 pt-28 pb-10;
    background-image: url(./../../assets/imgs/footer-logo-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -80px;
}



/* MENU DAS REDE SOCIAIS */
/* ----- a cor é definida na TAG */
.social-menu {
    @apply pt-10 flex justify-center md:justify-normal;
}
.social-lista {
    @apply flex;
}
.social-lista a {
    @apply text-2xl ml-5 transition ease-linear;
}



/* ===== TAB */
/* ----- menu tab */
.tab-menu {
    @apply border-b px-5 flex flex-wrap justify-center sm:justify-normal gap-10;
}
.tab-menu li {
    @apply text-sm text-gray-400 uppercase font-semibold cursor-pointer py-3 sm:py-6;
    @apply transition ease-linear hover:text-gray-500
}
.tab-menu li.active {
    @apply border-b-2 border-ftem_b2;
}
.tab-menu li.active > * {
    @apply text-ftem_b2;
}

.tab-menu li span {
    @apply hidden sm:block;
}
.tab-menu li i {
    @apply block sm:hidden text-3xl;
}



/* ===== MODAL */
/* --- classe para barrar a rolagem do corpo do site */
.modalOpening {
    @apply overflow-y-hidden;
}

.modal-stage {
    @apply fixed z-50 left-0 top-0 w-full bg-transparent hidden items-center p-5 justify-center h-screen overflow-y-auto;
}
.modal-stage.show {
    @apply flex;
}

.modal-stage .curtain {
    @apply absolute z-0 left-0 top-0 w-full h-full bg-[rgba(0,0,0,0.5)];
}

.modalCloser {
    @apply text-3xl text-ftem_b1 fixed z-50 right-2 top-2 bg-white rounded-full cursor-pointer;
}

.modal {
    @apply hidden w-full sm:w-auto flex-wrap overflow-hidden rounded-lg shadow-lg relative z-10 -top-10 opacity-0;
}
.modal-stage.show .modal.wait {
    @apply flex;
}
/* ----- classe para animar a entrada */
.modal.show {
    @apply transition-all ease-in-out duration-300 top-0 opacity-100;
}
/* ----- classe para animar a saida */
.modal.out {
    @apply transition-all ease-in-out duration-300 top-10 opacity-0;
}

.modal .side-a {
    @apply hidden sm:block w-full sm:w-col-5 p-6 sm:p-8 bg-ftem_b2;
}
.modal .side-b {
    @apply w-full sm:w-col-7 p-6 sm:p-8 bg-white;
}

/* ----- login redes sociais */
.login-by {
    @apply pb-14;
}
.login-by li {
    @apply mb-2;
}
.login-by a {
    @apply text-white text-center block p-2 rounded-md relative;
}
.login-by a i {
    @apply absolute left-3 top-1 text-2xl;
}

.login-by .linkedin {
    @apply bg-blue-400;
}
.login-by .google {
    @apply bg-red-600;
}
.login-by .facebook {
    @apply bg-blue-700;
}

.modal .action-box {
    @apply w-full flex flex-wrap gap-5 justify-end;
}

/* ----- modal para notificação */
.modal-content {
    @apply bg-white min-w-[600px];
}
.modal-content h2,
.modal-content .action-box {
    @apply p-5;
}
.modal-content h2 {
    @apply title-sm;
}

.modal-content .msg {
    @apply bg-gray-300 text-base text-ftem_b2 font-semibold px-5 py-2 flex flex-wrap justify-between;
}






































/* ===== HEADER PRINCIPAL */

.main-header-clean {
    @apply fixed left-0 top-0 z-20 w-full transition ease-linear;
}
.main-header {
    @apply main-header-clean bg-white;
}

/* ----- quando rolar a pagina o fundo fica branco e a sombra aparece */
.scrolled {
    @apply shadow-md bg-white;
}

.header-content {
    @apply max-w-screen-xl mx-auto flex flex-wrap items-center justify-between relative;
}

/* ----- menu sandwich icone */
.header-ico-mob {
    @apply text-3xl text-ftem_b2 cursor-pointer;
    @apply transition ease-in-out hover:opacity-60;
}
.desk .header-ico-mob,
.mobile.open .header-ico-mob .open,
.header-ico-mob .close {
    @apply hidden;
}
.mobile.open .header-ico-mob .close {
    @apply block;
}

/* ----- formatação do texto dos elementos do menu */
.menu-item-text {
    @apply text-[13px] font-semibold uppercase
}
.menu-item {
    @apply text-ftem_d3 inline-block px-2 md:px-5 cursor-pointer;
}
.menu-item span {
    @apply menu-item-text inline-block relative;
    @apply transition ease-linear hover:text-ftem_b2;
}

.menu-item.active span {
    @apply text-ftem_b2;
}

.menu-btn {
    @apply menu-item-text text-white bg-ftem_b2 px-3 lg:px-5 py-4 rounded-sm cursor-pointer;
    @apply transition ease-linear hover:bg-ftem_b1;
}

/* ---------- estilo / MOBILE */
.main-header.mobile .header-content,
.main-header-clean.mobile .header-content {
    @apply p-3;
}

.main-header.mobile,
.main-header-clean.mobile.open {
    @apply bg-white;
}
.main-header-clean.mobile {
    @apply px-0;
}

.mobile .header-logo {
    @apply ml-3;
}

.mobile .header-side {
    @apply hidden absolute w-full right-0 top-16 bg-white shadow-lg;
}
.mobile.open .header-side,
.mobile .header-side.show {
    @apply block;
}

.mobile .header-main-menu {
    @apply text-right;
}
.mobile .header-main-menu .menu-item {
    @apply block p-0;
}
.mobile .header-main-menu .menu-item span {
    @apply p-3 pr-6;
}

.mobile .header-user {
    @apply flex flex-wrap items-center justify-end gap-5 border-t p-5;
}

.mobile .menu-item.active span:before {
    @apply bg-ftem_b2 content-[''] absolute top-0 right-0 w-1 h-full;
}


/* ---------- estilo / DESKTOP */
.main-header-clean.desk  {
    @apply px-3;
}

/* ----- menu sandwich icone
.desk .header-ico-mob {
    @apply hidden;
} */

/* ----- menu de navegação */
.desk .header-side {
    @apply flex flex-wrap items-center;
}

.desk .menu-item.active span:before {
    @apply bg-ftem_b2 content-[''] absolute top-0 left-0 w-full h-1;
}

/* ----- somente para o menu principal */
.desk .header-main-menu {
    @apply flex flex-wrap;
}
.desk .header-main-menu .menu-item {
    @apply pb-3;
}
.desk .header-main-menu .menu-item span {
    @apply pt-8 pb-5;
}

/* ----- somente menu de user */
.desk .header-user {
    @apply flex flex-wrap items-center;
}












/* ===== FOOTER PRINCIPAL */

.main-footer {
    @apply px-3 bg-ftem_d3 bg-[url(./../../assets/imgs/footer-logo-bg.png)] bg-no-repeat bg-contain;
    background-position: right -80px;
}

.footer-content {
    @apply max-w-screen-xl py-28 mx-auto;
}

/* ----- barra de cadastro ou login */
.footer-user {
    @apply flex flex-wrap justify-center sm:justify-between items-center pb-20 mb-20 border-b-[1px] border-ftem_d2;
}
.footer-user-l {
    @apply text-center md:text-left w-full md:w-2/3 mb-10 md:mb-0;
}
.footer-user-r {
    @apply flex flex-wrap justify-center md:justify-end gap-5 w-full md:w-2/6;
}

.footer-nav {
    @apply flex flex-wrap gap-10 justify-center md:justify-normal;
}
.footer-nav-l {
    @apply w-full md:w-2/5 text-center md:text-left;
}
.footer-nav-r {
    @apply w-full md:w-auto text-center;
}

/* ----- logo branco roda pé */
.footer-logo {
    @apply text-center inline-block pb-10;
}

.footer-title {
    @apply text-lg text-center md:text-left font-bold text-white mb-3;
}

.footer-link {
    @apply text-lg text-center md:text-left font-bold text-ftem_bl2 hover:text-ftem_bl1 block transition ease-linear;
}

/* ----- menu de navegação */
.footer-menu {
    @apply flex flex-wrap justify-center gap-5;
}
.footer-menu a {
    @apply block text-center md:text-left text-lg text-white hover:text-ftem_bl1 w-auto md:w-full transition ease-linear;
}

/* ----- menu de midias sociais */
.main-footer .social-lista a {
    @apply text-white hover:text-ftem_bl1;
}



/* ----- nuvem de tags */

/* ----- palavras chave */
.tags-key {
    @apply flex flex-wrap gap-3 items-center;
}
.tags-key > * {
    @apply text-xs py-1 px-2 rounded-md;
}
.tags-key.gray > * {
    @apply text-gray-500 bg-gray-200;
}
.tags-key.blue > * {
    @apply text-ftem_b2 bg-cyan-50;
}

/* ----- dados para filtro */
.tag-info {
    @apply flex flex-wrap gap-3 items-center;
}
.tag-info > * {
    @apply text-xs text-gray-600 py-1 rounded-md;
}
.tag-info > * I {
    @apply mr-2;
}



/* ===== SERVIÇOS */

/* ----- base para item de grid e lista */
.servico-item {
    @apply bg-white rounded-md p-3 sm:p-5 flex flex-wrap items-center shadow-md;
    @apply transition ease-linear hover:shadow-lg
}

.servico-item .img {
    @apply bg-ftem_b2 w-16 h-16 overflow-hidden rounded-md;
}
.servico-item.lg .img {
    @apply bg-ftem_b2 w-20 md:w-32 h-20 md:h-32 overflow-hidden rounded-md;
}

.servico-item .autor {
    @apply w-auto pl-3;
}
.servico-item .autor h3 {
    @apply text-xl font-semibold;
}
.servico-item .autor p {
    @apply text-base;
}

.servico-item.lg .autor {
    @apply w-auto pl-6;
}
.servico-item.lg .autor h3 {
    @apply text-2xl font-semibold;
}
.servico-item.lg .autor p {
    @apply text-xl;
}

.servico-item .info {
    @apply w-full mt-5 flex flex-wrap sm:flex-nowrap justify-between gap-4;
}

/* ----- descrição detalhada o serviço */
.servico-info-autor {
    @apply p-3 sm:p-5 bg-white rounded-md shadow-md mb-10 lg:mb-0 flex flex-wrap items-center;
}

.servico-info-autor .img {
    @apply bg-ftem_b2 relative overflow-hidden rounded-md w-full sm:w-[180px] h-auto sm:h-[180px] lg:w-full lg:h-auto pb-[100%] sm:pb-0 lg:pb-[100%] mb-5;
}
.servico-info-autor .img img {
    @apply absolute left-0 top-0 w-full h-full object-cover;
}

.servico-info-autor .autor {
    @apply text-2xl font-semibold w-full sm:w-[calc(100%-180px)] lg:w-full pl-0 sm:pl-5 lg:pl-0;
}

.servico-info-autor .info {
    @apply w-full mt-5 flex flex-wrap justify-between items-center;
}
.servico-info-autor .info ul {
    @apply mb-3 sm:mb-0 lg:mb-3;
}


.servico-item .description > h3 {
    @apply mb-6;
}
.servico-item .description > p {
    @apply text-base mb-4;
}
.servico-item .description > ul {
    @apply list-disc pl-5 -mt-3 mb-5;
}

.servico-item .description .img-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-5 my-10;
}
.servico-item .description .img-grid figure {
    @apply overflow-hidden rounded-md shadow-md;
}
.servico-item .description .img-grid figure img {
    @apply w-full;
}


/* ----- side-bar de filtros para serviços */

.filtro-lista {
    @apply mb-7;
}
.filtro-lista label {
    @apply block py-1;
}
.filtro-lista label span {
    @apply text-base;
}
.filtro-lista label input:checked + span {
    @apply font-semibold;
}


.filter-box {
    @apply bg-white md:bg-transparent;
    @apply p-3 md:p-0 mb-5 md:mb-0 shadow-md md:shadow-none rounded-sm md:rounded-none;
}
.filter-box.open {
    @apply shadow-lg md:shadow-none;
}

.filter-form {
    @apply hidden md:block px-2 md:px-0;
}
.filter-box.open .filter-form {
    @apply block;
}

.filter-header {
    @apply flex items-center;
    @apply flex md:hidden;
}
.filter-box.open .filter-header {
    @apply border-b-2 pb-3 mb-3;
}

.filter-group {
    @apply text-ftem_b2 text-sm font-semibold w-[calc(100%-40px)] flex flex-wrap gap-3 px-2;
}

.filter-buttom {
    @apply w-[40px] h-[40px] py-[10px] bg-ftem_b2 text-white text-lg text-center rounded-sm cursor-pointer;
}

.filter-box.open .fa-chevron-down,
.filter-box .fa-chevron-up {
    @apply hidden;
}
.filter-box.open .fa-chevron-up,
.filter-box .fa-chevron-down {
    @apply block;
}




/* ===== HOME */

/* --- banner concierge */
.banner-concierge {
    @apply max-w-screen-lg mx-auto overflow-hidden rounded-lg relative shadow-lg bg-ftem_b2;
}
.banner-concierge > img {
    /* @apply hidden md:block w-full min-h-full object-cover absolute z-0 right-0 top-0; */
    @apply w-full min-h-full object-cover absolute z-0 right-0 top-0;
}

.banner-concierge .wrapper {
    @apply p-10 md:p-20 pt-[200px] md:pt-20 relative z-10 bg-gradient-dark-blue-up md:bg-gradient-dark-blue;
}

.banner-concierge .banner-content {
    @apply w-full sm:w-col-10 lg:w-col-8 text-white;
}


/* --- slider depoimentos */

.depoimentos-slide .swiper-slide {
    @apply flex flex-wrap items-stretch overflow-hidden rounded-md shadow-lg bg-white;
}
.depoimentos-slide .img {
    @apply w-full md:w-col-5 min-h-[300px] md:min-h-[auto] relative overflow-hidden bg-no-repeat bg-cover bg-center;
}
.depoimentos-slide .info {
    @apply w-full md:w-col-7 p-10;
}
.depoimentos-slide .info figure img {
    height: 40px;
}

.depoimentos-slide .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    border-radius: 100px !important;
    background-color: #fff !important;
    transition: width .2s ease-in-out;
}
.depoimentos-slide .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px !important;
}


/* ===== HERO SLIDER */

.hero-swiper {
    @apply max-w-screen-xl mx-auto overflow-hidden;
}

.hero-swiper .swiper-slide {
    background-color: #fff;
    opacity: 0 !important;
}
.hero-swiper .swiper-slide.swiper-slide-visible {
    opacity: 1 !important;
}

.hero-swiper .info {
    @apply w-full md:w-col-6 pb-10 md:pb-0 pr-0 md:pr-10;
}

.hero-swiper .img {
    @apply w-full md:w-col-6 overflow-hidden rounded-md;
}

.hero-swiper .swiper-pagination {
    text-align: right;
}
.hero-swiper .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    border-radius: 100px !important;
    background-color: #104F9E !important;
    transition: width .2s ease-in-out;
}
.hero-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 25px !important;
}



/* ===== BLOG */

/* ----- side-bar lista de posts recentes */
.blog-side-list {
    @apply mb-8;
}
.blog-side-list li {
    @apply mb-3
}
.blog-side-list a {
    @apply flex items-center rounded-md;
    @apply transition ease-linear hover:bg-white hover:shadow-sm;
}
.blog-side-list .img {
    @apply overflow-hidden rounded-md w-[70px] h-[70px] hidden lg:block;
}
.blog-side-list .img img {
    @apply w-full;
}
.blog-side-list .info {
    @apply text-sm w-full lg:w-[calc(100%-70px)] pl-0 lg:pl-3;
}


/* ----- post pagina blog */
.blog-post-item {
    @apply bg-white overflow-hidden rounded-md shadow-md mb-5;
    @apply transition ease-linear hover:shadow-lg;
}

.blog-post-item .img {
    @apply inline-block w-full;
}
.blog-post-item .img img {
    @apply w-full;
}

.blog-post-item .box {
    @apply p-4 sm:p-8 pt-2 sm:pt-2;
}

.blog-post-item .info {
    @apply text-lg mb-8;
}
.blog-post-item .info p,
.blog-post-item .info ol,
.blog-post-item .info ul {
    @apply mb-5;
}
.blog-post-item .info ol {
    @apply list-decimal pl-5;
}
.blog-post-item .info ol li {
    @apply pl-3;
}

.blog-post-item .data {
    @apply w-full mt-12 flex justify-between items-center gap-4;
}


/* ----- lista de posts apois detalhe do post */
.blog-block {
    @apply flex flex-wrap justify-between;
}
.blog-block a {
    @apply bg-white overflow-hidden rounded-md w-full md:w-[32%] flex md:block items-center mb-5 md:mb-0;
    @apply transition ease-linear shadow-sm hover:shadow-md;
}
.blog-block a img {
    @apply w-auto sm:w-full;
}
.blog-block a p {
    @apply text-base md:text-lg inline-block p-5;
}



/* ===== CONTATO */

.contato-box {
    @apply bg-white rounded-md shadow-md;
}
.contato-box .tab-content {
    @apply p-5 sm:p-10;
}
.contato-box .tab-content > * {
    display: block;
}
.contato-box .tab-content > *:not(.active) {
    display: none;
}

.contato-box .tab-menu {
    @apply px-5 sm:px-10;
}

.contato-box .social-lista {
    @apply p-5 justify-center border-b;
}

.contato-lista {
    @apply p-5 sm:p-10 overflow-hidden;
}
.contato-lista li {
    @apply mb-10;
}
.contato-lista p {
    @apply text-lg text-gray-400 font-semibold mb-3;
}
.contato-lista a {
    @apply text-base text-ftem_g3 font-semibold block;
    @apply transition ease-linear hover:text-ftem_b2;
}
.contato-lista .tel a {
    @apply text-lg font-semibold;
}



/* ===== CONCIERGE */

.concierge-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-5;
}
.concierge-grid > div {
    @apply bg-ftem_bl2 min-h-80 p-8 md:p-14 rounded-md shadow-lg;
}
.concierge-grid h3 {
    @apply text-2xl text-white font-semibold mb-10;
}
.concierge-grid p {
    @apply text-lg text-white;
}


/* ----- slider de depoimentos */
.slide-dep-concierge-item {
    @apply flex gap-10 bg-[url(./../../assets/imgs/concierge-bg-aspas.png)] bg-no-repeat;
    background-position: 240px top;
}
.slide-dep-concierge-item .ing {
    @apply w-[220px];
}
.slide-dep-concierge-item figure {
    @apply overflow-hidden rounded-md shadow-md;
}
.slide-dep-concierge-item .info {
    @apply py-8 w-4/5;
}




/* ===== PAINEL DO USUARIO */

.user-wrapper {
    @apply bg-ftem_g1 pl-[60px] lg:pl-[260px] min-h-screen;
}

.user-sidebar {
    /* @apply fixed z-10 left-0 top-0 h-screen w-full max-w-[260px] overflow-y-auto bg-white shadow-lg; */
    @apply fixed z-10 left-0 top-0 h-screen w-full max-w-[60px] lg:max-w-[260px] overflow-y-auto bg-white shadow-lg;
}

.user-body {
    @apply w-col-11 lg:w-col-10 max-w-full lg:max-w-screen-lg mx-auto pt-5 pb-10;
}


.user-logoftem {
    @apply block mb-7;
}
.user-logoftem .img1 {
    @apply hidden lg:block;
}
.user-logoftem .img2 {
    @apply w-16 block lg:hidden;
}

.btn-sm-blue.novo-cadastro {
    @apply mb-7 px-4 lg:px-[1rem];
}
.btn-sm-blue.novo-cadastro span {
    @apply hidden lg:block;
}
.btn-sm-blue.novo-cadastro i {
    @apply block lg:hidden;
}


.user-mainmenu a {
    @apply text-lg font-semibold text-ftem_b2 flex items-center justify-center lg:justify-normal gap-3 mb-2;
    @apply hover:text-ftem_b1;
}
.user-mainmenu a i {
    @apply text-2xl lg:text-lg;
}
.user-mainmenu a span {
    @apply hidden lg:block;
}



/* filtro da listagem */

.user-lista-filter {
    @apply flex flex-wrap items-center justify-between pb-10;
}
.user-lista-filter h2 {
    @apply text-xl font-semibold;
}


/* listagem */
.user-list-header {
    @apply flex items-center px-4 py-5;
}

.user-list-header > span {
    @apply font-bold;
}
.user-list-header > span:not(:first-child) {
    @apply pl-2;
}

.user-list-table {
    @apply bg-white shadow-lg rounded-lg  mb-10;
}


.user-list-table ul {
    @apply overflow-y-auto max-h-[330px];
    scroll-snap-type: y mandatory;
}

.user-list-table ul li:nth-child(odd) {
    @apply bg-gray-100;
}
.user-list-table ul li {
    @apply flex items-center relative text-base px-3;
    @apply hover:bg-ftem_b1 hover:text-white transition ease-in-out;
    height: 48px;
    scroll-snap-align: start;
}
.user-list-table ul li.up:before {
    @apply content-[""] w-1 h-full bg-yellow-300 absolute left-0 top-0;
}

.user-list-table ul li > * {
    @apply whitespace-nowrap overflow-hidden text-ellipsis py-3;
}
.user-list-table ul li > *:not(:first-child) {
    @apply pl-2;
}

.user-list-footer {
    @apply h-16;
}


/* formulario de configuração do perfil */

.user-config {
    @apply bg-white shadow-lg rounded-lg;
}


/* bloco de cadastro de imagem input:file */

.input-img {
    @apply relative overflow-hidden;

    margin-bottom: 0 !important;
}

.input-img input {
    @apply absolute left-0 border-none opacity-0 pointer-events-none;

    padding: 0 !important;
}

.input-img label {
    @apply relative bg-gray-200 inline-block w-full pb-[100%] border-gray-400 bg-[url(./../imgs/bg-img.svg)] bg-no-repeat bg-center border-4 border-dashed overflow-hidden rounded-xl cursor-pointer;
    @apply transition ease-in-out hover:border-ftem_b2;

    margin-bottom: 0 !important;
    background-size: 65%;
}
.user-config-avatar .input-img label {
    background-image: url(./../imgs/bg-user.svg);
}
.input-img.up label {
    border-style: solid;
}

.input-img .img-remover {
    @apply hidden absolute right-2 top-1 z-10 bg-white text-2xl rounded-full leading-[90%];
    @apply transition ease-in-out hover:text-red-700;
}
.input-img.up .img-remover {
    @apply block;
}

.input-img label img {
    @apply absolute left-0 top-0 w-full h-full object-cover opacity-0;
}
.input-img.up label img {
    @apply opacity-100;
}

.input-img p {
    @apply text-base font-semibold pb-2;
}



/* formulario de cadastro/edição de serviço */

.user-servico {
    @apply bg-white shadow-lg rounded-lg;
}

.user-servico-imgs {
    @apply flex flex-wrap gap-[1rem] mb-5;
}

.user-servico-imgs .input-img {
    @apply w-full md:w-[calc(50%-0.60rem)] xl:w-[calc(33.3333%-0.7rem)];
}



/* ----- chat de contato */
.chat-textarea {
    @apply p-5 pr-2 flex;
}

.chat-textarea textarea {
    @apply w-[calc(100%-80px)] min-h-20 max-h-20 resize-none overflow-y-auto p-2 outline-none border-2 rounded-md;
    @apply focus:border-ftem_b2 transition ease-in-out;
}

.chat-textarea button {
    @apply w-[80px];
}
.chat-textarea button i {
    @apply text-3xl;
}

.chat-messages {
    @apply min-h-56 h-[calc(100vh-500px)] px-5 overflow-y-auto;
}

.chat-received {
    @apply py-2 pr-0 md:pr-[10%];
}
.chat-send {
    @apply py-2 text-right pl-0 md:pl-[10%];
}
.chat-received:not(:last-child),
.chat-send:not(:last-child) {
    @apply mb-5;
}

.chat-received > p:not(:last-child),
.chat-send  > p:not(:last-child) {
    @apply mb-4;
}


/* editor de texto */
.textEditor {
    @apply border-2 rounded-lg;
}

.textEditor-menu {
    @apply flex gap-2 p-2 border-b-2;
}
.textEditor-menu > div {
    @apply flex;
}

.textEditor-menu button {
    @apply bg-gray-100 py-2 px-3;
    @apply transition ease-in-out hover:bg-ftem_b1 hover:text-white;
}
.textEditor-menu button:first-child {
    @apply rounded-l-md;
}
.textEditor-menu button:last-child {
    @apply rounded-r-md;
}

.textEditor .textEditor-input {
    @apply min-h-[160px] max-h-[580px] p-4 outline-none overflow-y-auto resize-y;
}

.textEditor .textEditor-input ul,
.textEditor .textEditor-input ol {
    list-style: inherit;
    padding: 0 0 0 15px;
    margin: 0 inherit;
}
.textEditor .textEditor-input ol {
    list-style: decimal;
}